.env
.env.local
.env.*.local
node_modules
.next
out
dist
cache
broadcast
contracts/cache
contracts/out
subgraph/generated
subgraph/generated-deploy
generated
*.log
.DS_Store
DS_Store
*.tsbuildinfo
.vercel
